/* Estilos personalizados para a tabela */
* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: Arial, sans-serif;
  background-color: #0098c9;
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ebecee;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #0098c9;
}

.navbar {
  background-color: #fff;
  border-bottom: 2px solid #0098c9;
}

.navbar-nav .nav-item {
  margin-right: 10px;
}

.navbar-nav .nav-link {
  color: #0098c9;
}

.navbar-nav .nav-link:hover {
  color: #0098c9;
}

.btn-primary {
  color: #fff;
  border-color: #fff;
  background-color: #0098c9 !important;
  padding: 6px 12px; /* Espaçamento interno do botão */
  border-radius: 5px;
}

.btn-primary :hover {
  background-color: #0098c9;
  color: #fff;
}

.btn-outline-primary {
  color: #fff;
  border-color: #fff;
  background-color: #0098c9 !important;
  padding: 6px 12px; /* Espaçamento interno do botão */
  border-radius: 5px;
}

.btn-outline-primary:hover {
  background-color: #0098c9;
  border-color: #ebecee;
}

.btn-outline-secondary {
  color: #fff;
  border-color: #fff;
  background-color: #0098c9 !important;
  padding: 6px 12px; /* Espaçamento interno do botão */
  border-radius: 5px;
}

.btn-outline-secondary:hover {
  background-color: #0098c9;
  border-color: #ebecee;
}

.table-striped {
  width: 100%;
  background-color: #fff;
  border-collapse: collapse;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.table-striped th,
.table-striped td {
  padding: 8px;
  text-align: left;
  border: 1px solid black;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff !important;
  color: #0098c9 !important;
  font-size: 13px;
}

.table-striped th {
  background-color: #fff !important;
  color: #0098c9 !important;
  font-size: 13px;
}

.table-striped tbody tr:nth-child(even) {
  background-color: #0098c9;
}

.table-striped tbody tr:hover {
  background-color: #ddd;
}

.icon-small {
  font-size: 15px; /* Tamanho desejado para os ícones */
}

/* Estilos para o modal */
.modal-content {
  background-color: #fff; /* Cor de fundo do modal */
  border-radius: 8px; /* Borda arredondada */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.modal-header {
  background-color: #0098c9; /* Cor de fundo do cabeçalho */
  color: #fff; /* Cor do texto do cabeçalho */
  border-bottom: none; /* Remover borda inferior */
  border-radius: 8px 8px 0 0; /* Borda arredondada apenas no topo */
}

.modal-title {
  font-weight: bold; /* Texto em negrito */
}

.modal-body {
  font-size: 16px; /* Tamanho da fonte */
  line-height: 1.6; /* Altura da linha */
  color: #333; /* Cor do texto */
}

.modal-body p {
  margin-bottom: 10px; /* Espaçamento inferior entre os parágrafos */
}

.modal-body strong {
  font-weight: bold; /* Texto em negrito */
}

.modal-footer {
  background-color: #f0f0f0; /* Cor de fundo do rodapé */
  border-top: none; /* Remover borda superior */
  border-radius: 0 0 8px 8px; /* Borda arredondada apenas na parte inferior */
}

.modal-footer button {
  margin-right: 10px; /* Espaçamento entre os botões */
}

/* Estilos para a tabela quando em telas pequenas */
@media screen and (max-width: 600px) {
  .table-striped {
    overflow-x: auto;
    display: block;
  }

  .table-striped th,
  .table-striped td {
    white-space: nowrap;
  }
}
