body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #b7e9fa;
  color: #fff;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: margin-left 0.3s ease;
}

.header.menu-active {
  margin-left: 250px;
}

.header img {
  width: 300px;
  height: 50px;
  margin: 0 auto;
}

.footer {
  background-color: #b7e9fa;
  color: #fff;
  padding: 20px;
  transition: margin-left 0.3s ease;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer.menu-active {
  margin-left: 250px;
}

.sidebar {
  background-color: #f8f9fa;
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -250px;
  transition: left 0.3s ease;
  z-index: 1000;
}

.sidebar.active {
  left: 0;
}

.sidebar-title {
  color: #333;
  padding: 1px 2px;
  margin-bottom: 2px;
}

.content {
  margin-left: 0;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.content.menu-active {
  margin-left: 250px;
}

.nav-item {
  padding: 2px 0;
}

.nav-link {
  color: #212529;
}

.nav-link .fas {
  margin-right: 10px;
}

.sub-menu {
  display: none;
  padding-left: 20px;
}

.sub-menu .nav-item {
  padding: 2px 0;
}

.sub-menu .nav-link {
  color: #333;
}

#toggleMenu {
  margin-right: 0 !important;
}
